@import './base.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

.primary {
  color: #ffe1ca;
}
.secondary {
  color: #8d0040;
}
.accent {
  color: #e3257b;
}
.peach {
  color: #bbe000;
}
